.login-form {
  position: relative;
  max-width: 630px;
  width: 100%;
  display: block;
  margin: auto;
  background: #fff;
  padding: 50px 20px;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.2);
}

.error-bar {
  position: absolute;
  background: #f04930;
  padding: 9px 20px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-weight: bold;
  top: -26px;
  left: 0;
  right: 0;
  border-top-right-radius: 2px;
}

.login-form .btn-block {
  background: #000;
  border: 0px;
  border-radius: 0px;
  height: 41px;
  outline: none !important;
  font-size: 17px;
}

.modal-body {
  display: flex;
  margin: auto;
  min-height: 100vh;
  background: #f0f1f1;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
}

.login-form form label {
  font-size: 15px;
}

.login-form .btn-success:hover,
.login-form .btn-success:active:focus,
.login-form .btn-success:active,
.login-form .btn-success:focus {
  color: #000;
  background-color: #fdd238;
  border-color: #fdd238;
}

.login-form .form-group {
  position: relative;
  padding-bottom: 20px;
}

.login-form span.authError {
  position: absolute;
  bottom: 0;
  left: 0;
}

.loginlogo {
  text-align: center;
}

.login-heading {
  text-align: center;
  width: 100%;
  font-size: 22px;
  margin-top: 20px;
  color: #000;
  padding-right: 20px;
  text-transform: uppercase;
}

.login-form form {
  padding: 47px 47px 0;
  position: relative;
}

.login-form form input {
  border-radius: 0px;
  height: 41px;
  box-shadow: none !important;
  border-color: #cecece !important;
}

span.authError {
  color: red;
}

.form-group strong {
  position: absolute;
  width: 22px;
  opacity: 0.4;
  top: 36px;
  right: 8px;
  display: inline-block;
  height: 22px;
  cursor: pointer;
}

.success-msg {
  background: #62b300;
}

@media screen and (max-width: 620px) {
  .error-bar {
    padding: 5px 5px;
    font-size: 13px;
    top: -12px;
    line-height: 15px;
  }
  .login-form form {
    padding: 20px 0px 0;
    position: relative;
  }
  .login-heading {
    font-size: 18px;
    margin-top: 20px;
    padding-right: 0;
  }
  .modal-body {
    display: block;
  }
  .login-form span.authError {
    bottom: 2px;
    font-size: 11px;
  }
}